
body{
    background-color: rgb(95,95,95);
    }

    .Line-1{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-left: 50px;

    }

    .Name-box2{
    display: block;
    background-color: ;
    margin-bottom: 7px;

    }


    .Email-box3{
    display: block;
    background-color:;

    }

.Line-4{
font-size: 16px;
background-color: white;
width: 200px;
display:inline-block;
margin-bottom: 0px;
padding-left: 100px;
vertical-align: middle
}



.Button-Yes5{

cursor: pointer;
 }

.Button-No6{

cursor: pointer;

}


    .Line-hell{
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    }

    .Google-Img7{
    display: block;
    width: 200px;
    vertical-align: super;
    margin-left: 550px;
}

    .Google-Search8{
    margin-top: 10px;
    margin-left: 500px;   
    width: 300px;
    vertical-align:;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    box-shadow: 1px 1px 10px rgb(95,95,95);


    }
